// Local vars & reusables
%input-border-color {
  border-color: transparent transparent $gray-300 transparent;
}

%input-border-color-focused {
  border-color: transparent transparent $info transparent;
}

%modals-input-border-color {
  border-color: $gray-500
}

%default-input-styles {
  @extend %input-border-color;

  &:focus {
    @extend %input-border-color-focused
  }

  &:not(.default-placeholders) {
    &::placeholder {
      text-transform: uppercase;
    }

    &:-ms-input-placeholder {
      text-transform: uppercase;
    }

    &:-ms-input-placeholder {
      text-transform: uppercase;
    }
  }
}

%modal-input-styles {
  @extend .bg-white, %modals-input-border-color;

  &:focus {
    @extend %modals-input-border-color
  }

  &::placeholder {
    font-size: .85rem;
  }

  &:-ms-input-placeholder {
    font-size: .85rem;
  }

  &:-ms-input-placeholder {
    font-size: .85rem;
  }
}




// Form
.form-headline {
  @extend %card-headline
}

// Form group
.b-form-group {
  .blind-field {
    .modal & {
      @extend .p-2, .text-gray-600, .bg-gray-100;
      border: 1px solid $gray-500;
    }
  }
}

// Labels
.col-form-label {
  cursor: pointer;
  padding-left: .5rem;
  font-weight: 500;
  color: $gray-500;
}

.form-text,
.col-form-label,
.invalid-feedback {
  font-size: 12px
}


[id^="inputLive"] {
  @extend .pl-2
}

// Validations
// invalid: normal state
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid,
// invalid: focused state
.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: transparent transparent $danger transparent
}

// valid: normal state
.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid,
// valid: focused state
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: transparent transparent $success transparent
}

// Form inputs
// type="text"
// type="search"
// type="email"
// type="url"
// type="tel"
// type="number"
// type="submit"
// type="range"
// type="date"
// type="month"
// type="week"
// type="time"
// type="datetime"
// type="datetime-local"
// type="color"
.modal .flat-card input,
.modal .normal-input input,
.vdp-datepicker input,
input {
  &[type="text"],
  &[type="search"],
  &[type="email"],
  &[type="password"],
  &[type="url"],
  &[type="tel"],
  &[type="number"] {
    @extend %default-input-styles;

    &:focus {
      @extend %default-input-styles
    }
  }
}

.modal .normal-input input {
  &[type="text"],
  &[type="search"],
  &[type="email"],
  &[type="password"],
  &[type="url"],
  &[type="tel"],
  &[type="number"] {
    background: transparent !important;
  }
}

.modal input {
  &[type="text"],
  &[type="search"],
  &[type="email"],
  &[type="password"],
  &[type="url"],
  &[type="tel"],
  &[type="number"] {
    @extend %modal-input-styles;

    &:focus {
    @extend %modal-input-styles
    }
  }
}


// Form checkbox
%checkbox-common {
  background-image: none;
  background-color: $info;
  width: 8px;
}
%checkbox-active {
  @extend %checkbox-common;
  height: 8px;
  margin: 4px 0 0 4px;
}
%checkbox-indeterminate {
  @extend %checkbox-common;
  height: 4px;
  margin: 6px 0 0 4px;
}
%checkbox-bg {
  background-image: none;
  background-color: $white;
  border: 1px solid $gray-200;
}
%checkbox-disabled-bg {
  background-image: none;
  box-shadow: none;
  background-color: $gray-200;
  border: 1px solid $gray-200;
}

.custom-checkbox {
  .custom-control-label::before {
    @extend %checkbox-disabled-bg;
    border-radius: 0;
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      @extend %checkbox-bg
    }
    &::after {
      @extend %checkbox-active
    }
  }

  .custom-control-input:indeterminate ~ .custom-control-label {
    &::before {
      @extend %checkbox-bg
    }
    &::after {
      @extend %checkbox-indeterminate
    }
  }
}
// Form radio



// form select
.custom-select {
  .modal & {
    @extend %modals-input-border-color, .bg-white;
    background-image: url('../images/ui/options-down.svg');
    background-repeat: no-repeat;
    background-position: right .5rem center;
    background-size: 1rem auto;

    &:focus {
      @extend %modals-input-border-color
    }

    &.disabled {
      cursor: not-allowed;
    }
  }
}

.custom-select {
  @extend %input-border-color;

  &:focus {
    @extend %input-border-color-focused
  }
}


// Form textarea


// Form file

