%link-hoverings {
  transition: all .7s ease;

  &:hover {
    transition: all .35s ease
  }
}

%offcanvas-hoverings {
  transition: all .75s ease;

  &:hover {
    transition: all .25s ease
  }
}

%slow-transitions {
  transition: all 2s ease
}

%fast-transitions {
  transition: all .5s ease
}

%v-scroll {
  overflow-y: scroll;
  overflow-x: hidden
}

%h-scroll {
  overflow-y: hidden;
  overflow-x: scroll
}

%hidden-scroll {
  overflow: hidden
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}


.rounded-box {
  &-sm {
    border-radius: .25rem;
  }
  &-md {
    border-radius: .5rem;
  }
  &-lg {
    border-radius: 1rem;
  }
}


.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  &.with-hyphens {
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
