// text colors and backgrounds - grays only
@each $item, $color in $grays {
  .text-gray-#{$item} {
    color: $color
  }
  .bg-gray-#{$item} {
    background-color: $color
  }
}

// text colors and backgrounds
@each $item, $color in $colors {
  .text-#{$item} {
    color: $color
  }
  .bg-#{$item} {
    background-color: $color
  }
}

// font-weight
@for $i from 1 through 9 {
  .font-weight-#{$i}00 {
    font-weight: $i * 100;
  }
}

.text-ellipsis {
  @extend %text-ellipsis
}
