$card-shadow: 3px 3px 3px rgba($black, .15);

.card {
  box-shadow: $card-shadow;

  &.single-card {
    @include media-breakpoint-up(lg) {
      margin: auto;
      max-width: 30rem;
    }
  }
}

.card-header * {
  @extend .text-gray-800, .font-weight-300;
}
