$card-shadow: 3px 3px 3px rgba($black, .15);

.card {
  &.single-card {
    @include media-breakpoint-up(lg) {
      margin: auto;
      max-width: 30rem;
    }
  }

  &:not(.flat-card) {
    box-shadow: $card-shadow;
  }

  &.flat-card {
    @extend .p-2;
    border-radius: $border-radius;
    border: 1px solid $gray-100;
  }

  .badge-clickable {
    cursor: pointer;
  }
}

.card-header * {
  @extend .text-gray-800, .font-weight-300;
}

.card-footer {
  border-top: 1px solid $gray-100;
}
