.b-form-group {
  position: relative;

  .floating-icons {
    position: absolute;
    top: .75rem;

    .col {
      @extend .px-1
    }

    i {
      font-size: 1.5rem;
      cursor: pointer;
    }

    &.align-right {
      right: 1rem
    }

    &.align-left {
      left: 1rem
    }

    &.has-label {
      top: 2.5rem;
    }
  }
}
