.modal-wrapper {
  @extend %hidden-scroll;

  .slide-left-enter-active,
  .slide-left-leave-active {
    @extend %hidden-scroll;
    transition-duration: 0.3s;
    transition-property: transform, height;
    transition-timing-function: ease;
  }

  .slide-left-enter {
    transform: translate(100%, 0);
  }

  .slide-left-leave-active {
    transform: translate(-100%, 0);
  }
}

.modal {
  .modal-header {
    @extend .pl-4
  }
}
