#spinner1 {
  &.inline-spinner,
  .modal & {
    position: relative;
    top: 0;
    left: 0;
  }

  &.two-lines-spinner {
    .spinner {
      @extend .mx-auto
    }
  }

  &:not(.two-lines-spinner) {
    .spinner {
      @extend .float-left;
    }

    .message {
      @extend .clearfix;
      text-indent: .5rem
    }
  }

  .spinner {
    border-radius: 50%;
    border-style: solid;

    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .message {
    font-size: 14px;
    font-weight: 500;
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
