$spinnerSize: 1.5rem;

.spinner-wrapper {
  position: relative;
  height: $spinnerSize;

  > div {
    float: left;

    &:first-child {
      width: $spinnerSize;
      height: $spinnerSize;
    }

    &:last-child {
      @extend .pl-2;
      width: calc(100% - #{$spinnerSize});
      height: $spinnerSize;
    }
  }

  i {
    &.spin {
      @extend %slow-transitions;
      position: absolute;
      font-size: $spinnerSize;

      &.cw {
        @extend %spin
      }

      &.ccw {
        @extend %spin-back
      }
    }
  }
}
