input[type="checkbox"].switch {
  display: none;

  &:checked {
    + label {
      &:after {
        margin-right: 0;
      }

      &:before {
        background: $success;
      }
    }
  }

  + label {
    position: relative;
    padding: 0 3rem 0 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      height: 1.5rem;
      border-radius: 1rem;
      background: $white;
      border: 1px solid $gray-200;
      transition: all .3s;
    }

    &:before {
      width: 2.5rem;
    }

    &:after {
      width: 1.5rem;
      margin-right: 1rem;
    }

    &:hover:after {
      box-shadow: 0 0 .3rem rgba($black, .3);
    }
  }
}
