input[type="checkbox"].switch {
  display: none;

  &:checked {
    + label {
      &:after {
        margin-left: 1rem
      }

      &:before {
        background: $success
      }
    }
  }

  + label {
    position: relative;
    padding: .3125rem 0 0 3.125rem;
    width: auto;

    &:hover:after {
      box-shadow: 0 0 .3125rem rgba($black, .3)
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      height: 1.5rem;
      border-radius: 1rem;
      background: $white;
      border: 1px solid $gray-200;
      transition: all .3s
    }

    &:before {
      width: 2.5rem
    }

    &:after {
      width: 1.5rem
    }
  }
}
