.datepicker-wrapper {
  input {
    width: 100%;
    border-width: 0 0 1px 0;
    position: relative;

    &:focus {
      outline: 0
    }
  }

  i {
    @extend .m-3;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    color: $gray-400
  }
}
