#page-wrapper {
  @extend %hidden-scroll;
  overflow-x: hidden !important;
  position: relative;

  .authenticated & {
    @extend .ml-5;
    width: calc(100% - #{map-get($spacers, 5)});

    @include media-breakpoint-only(xs) {
      width: 100%;
      margin-left: 0 !important;
    }
  }

  .anonymous & {
    @extend .w-100;
  }

  #main-column {
    min-height: 100vh;
    padding-bottom: 22rem;
    @include media-breakpoint-only(xs) {
      padding-bottom: 25rem;
    }
  }
}
