#app {
  height: 100%;
}

#page-wrapper {
  transition: all .25s ease 0s
}

.offcanvas-open-btn {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1.125rem;
  cursor: pointer;
  transform: rotate(180deg);
}

.offcanvas-close-btn {
  @extend .px-2;
  position: absolute;
  top: 1.6rem;
  left: .95rem;
  height: 1.5rem;
  color: $white;
  cursor: pointer;
}

#offcanvas-menu {
  @extend .pt-5, .pb-2;
  width: 64px;
  position: fixed;
  height: 120%;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba($info, 1);
  overflow-x: hidden;
  transition: .5s;
  box-shadow: .125rem .125rem .5rem rgba($black, .25);
}

.menu-container {
  width: 220px;

  &.expanded {
    .user-avatar {
      left: calc(50% - 2.5rem);
      width: 5rem;

      i {
        font-size: 5rem;
      }
    }
  }

  &.collapsed {
    .user-avatar {
      left: .75rem;
      width: 2.5rem;

      i {
        font-size: 2.5rem;
      }

    }
  }

  > li {
    &.user-section {
    }

    &:not(.user-section) {
      @extend %offcanvas-hoverings;

      &:hover {
        background: rgba($white, .1)
      }
    }
  }

  ul {
    @extend .d-none
  }

  a, i {
    line-height: 1
  }

  a {
    @extend .d-flex, .px-3, .py-2;
    font-weight: 200;
    color: $white;

    &:hover,
    &:focus {
      color: $gray-100
    }
  }

  i {
    @extend .text-white;
    font-size: 1.75rem
  }

  div {
    &:not(.separator):not(.user-avatar) {
      @extend .py-2, .pl-3, %offcanvas-hoverings;
    }

    &.separator {
      margin: 1px 0;
      height: 1px;
      background-color: rgba($white, .25);
      background: -moz-linear-gradient(left, rgba($white, .25) 0%, $info 100%);
      background: -webkit-linear-gradient(left, rgba($white, .25) 0%,$info 100%);
      background: linear-gradient(to right, rgba($white, .25) 0%,$info 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#3aace2', GradientType=1);
    }
  }

  .user-avatar {
    @extend %fast-transitions;
    position: relative;

    i {
      @extend %fast-transitions;
    }
  }
}

.offcanvas-overlay {
  background: -moz-linear-gradient(left, $gray-400 0%, $gray-100 50%);
  background: -webkit-linear-gradient(left, $gray-400 0%,$gray-100 50%);
  background: linear-gradient(to right, $gray-400 0%,$gray-100 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
}
