$offcanvas-shadow: .125rem .125rem .5rem rgba($black, .25);

#app {
  height: 100%;
}

#page-wrapper {
  transition: all .25s ease 0s
}

.offcanvas-open-btn {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1.125rem;
  cursor: pointer;
  transform: rotate(180deg);
}

.offcanvas-close-btn {
  @extend .px-2;
  position: absolute;
  top: 1.6rem;
  left: .95rem;
  height: 1.5rem;
  color: $white;
  cursor: pointer;
}

#offcanvas-menu {
  @extend .pt-5, .pb-2;
  width: 64px;
  position: fixed;
  height: 120%;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba($info, 1);
  transition: .5s;
  box-shadow: $offcanvas-shadow;
}

.menu-container {
  @extend %fast-transitions;

  &.expanded {
    width: 220px;

    .user-avatar {
      left: calc(50% - 3rem);
      width: 6rem;

      i {
        font-size: 5rem;
      }
    }

    .submenu {
      left: 13.75rem;
    }
  }

  &.collapsed {
    width: 64px;

    .user-avatar {
      left: 0;
      width: 4rem;

      i {
        font-size: 2.5rem;
      }
    }

    .submenu {
      left: 3.75rem;
    }
  }

  > li {
    &.has-submenu {
      position: relative;

      &:hover {
        .submenu {
          @extend .d-block;
        }
      }
    }

    &:not(.user-section) {
      @extend %offcanvas-hoverings;

      &:hover {
        background: rgba($white, .1)
      }
    }
  }

  .submenu {
    @extend .d-none;
    position: absolute;
    top: 0;

    ul {
      background: $info;
      background: -moz-linear-gradient(left, $info 0%, lighten($info, 10%) 100%);
      background: -webkit-linear-gradient(left, $info 0%, lighten($info, 10%) 100%);
      background: linear-gradient(to right, $info 0%, lighten($info, 10%) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#3aace2', GradientType=1);
      position: relative;
      width: 17rem;
      border-radius: .25rem;
      box-shadow: $offcanvas-shadow;

      &:before {
        content: '';
        position: absolute;
        left: -.5rem;
        top: 1rem;
        width: 1rem;
        height: 1rem;
        transform: rotate(45deg);
        background: $info;
        z-index: -1;
      }
    }

    li {
      &:not(:last-child) {
        border-bottom: 1px solid rgba($white, .125);
      }

      &:hover {
        background-color: rgba($white, .0625);
      }
    }
  }

  a, i {
    line-height: 1
  }

  a {
    @extend .d-flex, .px-3, .py-2;
    font-weight: 200;
    color: $white;

    &:hover,
    &:focus {
      color: $gray-100
    }
  }

  i {
    @extend .text-white;
    font-size: 1.75rem
  }

  div {
    &:not(.separator):not(.user-section) {
      @extend .py-2, %fast-transitions;
    }
    &:not(.separator):not(.user-section):not(.user-avatar):not(.user-email) {
      @extend .pl-3;
    }

    &.separator {
      margin: 1px 0;
      height: 1px;
      background-color: rgba($white, .25);
      background: -moz-linear-gradient(left, rgba($white, .25) 0%, $info 100%);
      background: -webkit-linear-gradient(left, rgba($white, .25) 0%,$info 100%);
      background: linear-gradient(to right, rgba($white, .25) 0%,$info 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#3aace2', GradientType=1);
    }
  }

  .user-avatar {
    @extend %fast-transitions;
    position: relative;
    top: 0;

    i {
      @extend %fast-transitions;
    }
  }
}

.offcanvas-overlay {
  background: -moz-linear-gradient(left, $gray-400 0%, $gray-100 50%);
  background: -webkit-linear-gradient(left, $gray-400 0%,$gray-100 50%);
  background: linear-gradient(to right, $gray-400 0%,$gray-100 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee', GradientType=1);
}
