@import "path";
@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4syuip') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4syuip') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4syuip##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner1 .path1 {
  &:before {
    content: $icon-spinner1-path1;  
    color: rgb(255, 255, 255);  
    opacity: 0.5636;
  }
}
.icon-spinner1 .path2 {
  &:before {
    content: $icon-spinner1-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.4909;
  }
}
.icon-spinner1 .path3 {
  &:before {
    content: $icon-spinner1-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.6364;
  }
}
.icon-spinner1 .path4 {
  &:before {
    content: $icon-spinner1-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.4182;
  }
}
.icon-spinner1 .path5 {
  &:before {
    content: $icon-spinner1-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7091;
  }
}
.icon-spinner1 .path6 {
  &:before {
    content: $icon-spinner1-path6;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.3455;
  }
}
.icon-spinner1 .path7 {
  &:before {
    content: $icon-spinner1-path7;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7818;
  }
}
.icon-spinner1 .path8 {
  &:before {
    content: $icon-spinner1-path8;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-spinner1 .path9 {
  &:before {
    content: $icon-spinner1-path9;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.8545;
  }
}
.icon-spinner1 .path10 {
  &:before {
    content: $icon-spinner1-path10;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-spinner1 .path11 {
  &:before {
    content: $icon-spinner1-path11;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.9273;
  }
}
.icon-spinner2 .path1 {
  &:before {
    content: $icon-spinner2-path1;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-spinner2 .path2 {
  &:before {
    content: $icon-spinner2-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.8222;
  }
}
.icon-spinner2 .path3 {
  &:before {
    content: $icon-spinner2-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7333;
  }
}
.icon-spinner2 .path4 {
  &:before {
    content: $icon-spinner2-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.6444;
  }
}
.icon-spinner2 .path5 {
  &:before {
    content: $icon-spinner2-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.5556;
  }
}
.icon-spinner2 .path6 {
  &:before {
    content: $icon-spinner2-path6;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-spinner2 .path7 {
  &:before {
    content: $icon-spinner2-path7;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.4667;
  }
}
.icon-spinner2 .path8 {
  &:before {
    content: $icon-spinner2-path8;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.4667;
  }
}
.icon-spinner2 .path9 {
  &:before {
    content: $icon-spinner2-path9;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.3778;
  }
}
.icon-spinner2 .path10 {
  &:before {
    content: $icon-spinner2-path10;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2889;
  }
}
.icon-spinner2 .path11 {
  &:before {
    content: $icon-spinner2-path11;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.9111;
  }
}
.icon-spinner3 .path1 {
  &:before {
    content: $icon-spinner3-path1;  
    color: rgb(255, 255, 255);  
    opacity: 0.9;
  }
}
.icon-spinner3 .path2 {
  &:before {
    content: $icon-spinner3-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-spinner3 .path3 {
  &:before {
    content: $icon-spinner3-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-spinner3 .path4 {
  &:before {
    content: $icon-spinner3-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-spinner3 .path5 {
  &:before {
    content: $icon-spinner3-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-spinner3 .path6 {
  &:before {
    content: $icon-spinner3-path6;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-spinner3 .path7 {
  &:before {
    content: $icon-spinner3-path7;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-spinner3 .path8 {
  &:before {
    content: $icon-spinner3-path8;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-spinner3 .path9 {
  &:before {
    content: $icon-spinner3-path9;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);  
    opacity: 0.2727;
  }
}
.icon-user-circle {
  &:before {
    content: $icon-user-circle;     
    color: #ccc;
  }
}
.icon-options-left {
  &:before {
    content: $icon-options-left;     
    color: #ccc;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;     
    color: #ccc;
  }
}
.icon-fa {
  &:before {
    content: $icon-fa;     
    color: #ccc;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;     
    color: #ccc;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;     
    color: #ccc;
  }
}
.icon-bag {
  &:before {
    content: $icon-bag;     
    color: #ccc;
  }
}
.icon-card {
  &:before {
    content: $icon-card;     
    color: #ccc;
  }
}
.icon-close-invert {
  &:before {
    content: $icon-close-invert;     
    color: #ccc;
  }
}
.icon-close {
  &:before {
    content: $icon-close;     
    color: #ccc;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;     
    color: #ccc;
  }
}
.icon-document {
  &:before {
    content: $icon-document;     
    color: #ccc;
  }
}
.icon-facial-recognition {
  &:before {
    content: $icon-facial-recognition;     
    color: #ccc;
  }
}
.icon-fingerprint {
  &:before {
    content: $icon-fingerprint;     
    color: #ccc;
  }
}
.icon-flags {
  &:before {
    content: $icon-flags;     
    color: #ccc;
  }
}
.icon-forgot-password {
  &:before {
    content: $icon-forgot-password;     
    color: #ccc;
  }
}
.icon-hamburger-menu {
  &:before {
    content: $icon-hamburger-menu;     
    color: #ccc;
  }
}
.icon-help {
  &:before {
    content: $icon-help;     
    color: #ccc;
  }
}
.icon-hide {
  &:before {
    content: $icon-hide;     
    color: #ccc;
  }
}
.icon-home {
  &:before {
    content: $icon-home;     
    color: #ccc;
  }
}
.icon-icos {
  &:before {
    content: $icon-icos;     
    color: #ccc;
  }
}
.icon-learn-ico {
  &:before {
    content: $icon-learn-ico;     
    color: #ccc;
  }
}
.icon-link {
  &:before {
    content: $icon-link;     
    color: #ccc;
  }
}
.icon-lock-help {
  &:before {
    content: $icon-lock-help;     
    color: #ccc;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;     
    color: #ccc;
  }
}
.icon-login {
  &:before {
    content: $icon-login;     
    color: #ccc;
  }
}
.icon-logout {
  &:before {
    content: $icon-logout;     
    color: #ccc;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;     
    color: #ccc;
  }
}
.icon-more {
  &:before {
    content: $icon-more;     
    color: #ccc;
  }
}
.icon-my-orders {
  &:before {
    content: $icon-my-orders;     
    color: #ccc;
  }
}
.icon-options-down {
  &:before {
    content: $icon-options-down;     
    color: #ccc;
  }
}
.icon-options-right {
  &:before {
    content: $icon-options-right;     
    color: #ccc;
  }
}
.icon-password {
  &:before {
    content: $icon-password;     
    color: #ccc;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;     
    color: #ccc;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;     
    color: #ccc;
  }
}
.icon-qr-code {
  &:before {
    content: $icon-qr-code;     
    color: #ccc;
  }
}
.icon-receive {
  &:before {
    content: $icon-receive;     
    color: #ccc;
  }
}
.icon-rocket-o {
  &:before {
    content: $icon-rocket-o;     
    color: #ccc;
  }
}
.icon-rocket {
  &:before {
    content: $icon-rocket;     
    color: #ccc;
  }
}
.icon-search {
  &:before {
    content: $icon-search;     
    color: #ccc;
  }
}
.icon-security {
  &:before {
    content: $icon-security;     
    color: #ccc;
  }
}
.icon-send {
  &:before {
    content: $icon-send;     
    color: #ccc;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;     
    color: #ccc;
  }
}
.icon-show {
  &:before {
    content: $icon-show;     
    color: #ccc;
  }
}
.icon-star {
  &:before {
    content: $icon-star;     
    color: #ccc;
  }
}
.icon-support {
  &:before {
    content: $icon-support;     
    color: #ccc;
  }
}
.icon-transaction {
  &:before {
    content: $icon-transaction;     
    color: #ccc;
  }
}
.icon-unlink {
  &:before {
    content: $icon-unlink;     
    color: #ccc;
  }
}
.icon-user {
  &:before {
    content: $icon-user;     
    color: #ccc;
  }
}
.icon-verified {
  &:before {
    content: $icon-verified;     
    color: #ccc;
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet;     
    color: #ccc;
  }
}

