$icomoon-font-family: "lumenshine" !default;
$icomoon-font-path: "fonts" !default;

$icon-fa: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-bag: "\e903";
$icon-card: "\e904";
$icon-close-invert: "\e905";
$icon-close: "\e906";
$icon-copy: "\e907";
$icon-document: "\e908";
$icon-facial-recognition: "\e909";
$icon-fingerprint: "\e90a";
$icon-flags: "\e90b";
$icon-forgot-password: "\e90c";
$icon-hamburger-menu: "\e90d";
$icon-help: "\e90e";
$icon-hide: "\e90f";
$icon-home: "\e910";
$icon-icos: "\e911";
$icon-learn-ico: "\e912";
$icon-link: "\e913";
$icon-lock-help: "\e914";
$icon-lock: "\e915";
$icon-login: "\e916";
$icon-logout: "\e917";
$icon-mail: "\e918";
$icon-more: "\e919";
$icon-my-orders: "\e91a";
$icon-oprions-down: "\e91b";
$icon-oprions-right: "\e91c";
$icon-password: "\e91d";
$icon-pencil: "\e91e";
$icon-plus: "\e91f";
$icon-qr-code: "\e920";
$icon-receive: "\e921";
$icon-rocket-o: "\e922";
$icon-rocket: "\e923";
$icon-search: "\e924";
$icon-security: "\e925";
$icon-send: "\e926";
$icon-settings: "\e927";
$icon-show: "\e928";
$icon-star: "\e929";
$icon-support: "\e92a";
$icon-transaction: "\e92b";
$icon-unlink: "\e92c";
$icon-user: "\e92d";
$icon-verified: "\e92e";
$icon-wallet: "\e92f";

