$icomoon-font-family: "lumenshine" !default;
$icomoon-font-path: "fonts" !default;

$icon-spinner1-path1: "\e933";
$icon-spinner1-path2: "\e934";
$icon-spinner1-path3: "\e935";
$icon-spinner1-path4: "\e936";
$icon-spinner1-path5: "\e937";
$icon-spinner1-path6: "\e938";
$icon-spinner1-path7: "\e939";
$icon-spinner1-path8: "\e93a";
$icon-spinner1-path9: "\e93b";
$icon-spinner1-path10: "\e93c";
$icon-spinner1-path11: "\e93d";
$icon-spinner2-path1: "\e93e";
$icon-spinner2-path2: "\e93f";
$icon-spinner2-path3: "\e940";
$icon-spinner2-path4: "\e941";
$icon-spinner2-path5: "\e942";
$icon-spinner2-path6: "\e943";
$icon-spinner2-path7: "\e944";
$icon-spinner2-path8: "\e945";
$icon-spinner2-path9: "\e946";
$icon-spinner2-path10: "\e947";
$icon-spinner2-path11: "\e948";
$icon-spinner3-path1: "\e949";
$icon-spinner3-path2: "\e94a";
$icon-spinner3-path3: "\e94b";
$icon-spinner3-path4: "\e94c";
$icon-spinner3-path5: "\e94d";
$icon-spinner3-path6: "\e94e";
$icon-spinner3-path7: "\e94f";
$icon-spinner3-path8: "\e950";
$icon-spinner3-path9: "\e951";
$icon-user-circle: "\e932";
$icon-options-left: "\e931";
$icon-calendar: "\e900";
$icon-fa: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-right: "\e903";
$icon-bag: "\e904";
$icon-card: "\e905";
$icon-close-invert: "\e906";
$icon-close: "\e907";
$icon-copy: "\e908";
$icon-document: "\e909";
$icon-facial-recognition: "\e90a";
$icon-fingerprint: "\e90b";
$icon-flags: "\e90c";
$icon-forgot-password: "\e90d";
$icon-hamburger-menu: "\e90e";
$icon-help: "\e90f";
$icon-hide: "\e910";
$icon-home: "\e911";
$icon-icos: "\e912";
$icon-learn-ico: "\e913";
$icon-link: "\e914";
$icon-lock-help: "\e915";
$icon-lock: "\e916";
$icon-login: "\e917";
$icon-logout: "\e918";
$icon-mail: "\e919";
$icon-more: "\e91a";
$icon-my-orders: "\e91b";
$icon-options-down: "\e91c";
$icon-options-right: "\e91d";
$icon-password: "\e91e";
$icon-pencil: "\e91f";
$icon-plus: "\e920";
$icon-qr-code: "\e921";
$icon-receive: "\e922";
$icon-rocket-o: "\e923";
$icon-rocket: "\e924";
$icon-search: "\e925";
$icon-security: "\e926";
$icon-send: "\e927";
$icon-settings: "\e928";
$icon-show: "\e929";
$icon-star: "\e92a";
$icon-support: "\e92b";
$icon-transaction: "\e92c";
$icon-unlink: "\e92d";
$icon-user: "\e92e";
$icon-verified: "\e92f";
$icon-wallet: "\e930";

