footer {
  &.sticky {
    @extend %fast-transitions;
    position: fixed;
    bottom: 0;

    &.mobile {
      left: 0;
      width: 100%;
    }

    &:not(.mobile) {
      left: 4rem;
      width: calc(100% - 4rem);
    }
  }
}

.language-button {
  font-size: 2.5rem;

  &:hover {
    i:before {
      color: $info;
    }
  }

  i:before {
    @extend %link-hoverings;
    color: $gray-500;
  }
}

.footer-menu {
  @extend .py-4;

  a {
    @extend .p-2, .mb-1, .d-inline-block;
    background: rgba($body-bg, .75);
    border-radius: $border-radius-lg;
  }
}

.soneso-logo {
  @extend .py-4;

  p {
    @extend .m-0;
    font-size: .75rem;
    color: $gray-400
  }

  img {
    width: 6rem;
  }
}
