.user-info {
  @extend .px-3, .py-2;
  position: absolute;
  font-size: .75rem;
  color: $body-color;
  background: rgba($white, .75);
}

#logo-group {
  @include clearfix;
  @extend .py-4;
  position: relative;

  .narrow & {
    margin-left: calc(50% - 7rem);
  }

  h1 {
    @extend .text-uppercase;
    @extend .pt-2;
    @extend .my-0;
    font-size: 1.0625rem;
    color: $blue
  }

  h2 {
    font-size: .85rem;
    font-weight: 300;
  }

  @include media-breakpoint-up(sm) {
    .logo, .text {
      float: left;
    }
  }

  .logo {
    @extend .p-1;
    width: 6rem;
  }

  .text {
    color: $gray-500;

    .narrow & {
      width: 13rem;
    }

    .wide & {
      width: calc(100% - 17rem);
    }

    .currency-ticker {
      @extend .text-gray-500, %hidden-scroll;
      height: 1.5rem;
      font-size: .85rem;
      font-weight: 600;
      cursor: grab;
    }
  }
}

.add-wallet {
  @extend .px-3, .pb-2, .mt-3, .text-center;
  position: absolute;
  right: 4rem;
  background: rgba($white, .5);
  border-radius: $border-radius-lg;

  i {
    @extend .text-primary, .d-block;
    font-size: 3rem;
    font-weight: 700;
  }

  span {
    @extend .text-uppercase, .text-secondary;
    font-size: .75rem;
    font-weight: 500;
  }
}

#logo {
  width: 100%
}

