.user-info {
  @extend .px-3, .py-2;
  position: absolute;
  left: 0;
  font-size: .75rem;
  color: $body-color;
  background: rgba($white, .75);
}

#logo-group {
  @include clearfix;
  @extend .py-4, .text-uppercase;
  position: relative;

  .narrow & {
    margin-left: calc(50% - 3rem);
  }

  .title {
    @extend .pt-2, .my-0;
    font-size: 1.0625rem;
    color: $blue
  }

  .subtitle {
    @extend .mb-1;
    font-size: .8rem;
    font-weight: 400;
    width: 11rem;
  }

  @include media-breakpoint-up(sm) {
    .logo, .text {
      float: left;
    }
  }

  .logo {
    @extend .p-1;
    width: 6rem;
  }

  .text {
    @extend .pl-3, .pt-3, .mt-2, .d-none, .d-sm-block;
    color: $gray-500;

    .narrow & {
      width: 13rem;
    }

    .wide & {
      width: calc(100% - 17rem);
    }

    .currency-ticker {
      @extend .text-gray-500, %hidden-scroll;
      height: 1.5rem;
      font-size: .85rem;
      font-weight: 600;
      cursor: grab;
    }
  }
}


#logo {
  width: 100%
}

