.user-info {
  @extend .px-3, .py-2;
  position: absolute;
  font-size: .75rem;
  color: $body-color;
  background: rgba($white, .75);
}

#logo-group {
  @include clearfix;
  @extend .py-4;
  position: relative;

  .narrow & {
    margin-left: calc(50% - 7rem);
  }

  h1 {
    @extend .text-uppercase;
    @extend .pt-2;
    @extend .my-0;
    font-size: 1.0625rem;
    color: $blue
  }

  h2 {
    font-size: .8rem;
    font-weight: 300;
  }

  @include media-breakpoint-up(sm) {
    .logo, .text {
      float: left;
    }
  }

  .logo {
    @extend .p-1;
    width: 6rem;
  }

  .text {
    width: 13rem;
    color: $gray-500
  }
}

#logo {
  width: 100%
}

